.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid #6264DB;
  background: #EEF3F8;
  border-radius: 5px;
  width: 50vh;
  height: 10vh;
  margin-bottom: 3vh;
}

.header {
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.choiceList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50vh;
}

.choiceItem {
  width: 40%;
  height: 35vw;
  background: #EEF3F8;
  border-radius: 5px;
  margin-top: 5%;
  cursor: pointer;
  position: relative;
}

.choiceTitle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.choiceImage {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.isClicked {
  border: 1px solid #6264DB;
}

.isClickedIcon {
  position: absolute;
  top: 4%;
  right: 4%;
}

#nextBtn {
  border: none;
  border-radius: 8px;
  background-color: rgb(98, 100, 219);
  color: white;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.inputList {
  display: flex;
  flex-direction: column;
}