.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardWrapper {
  margin-right: 10vw;
  margin-left: 10vw;
}

.button {
  border: 1px solid #6264DB;
  background: #EEF3F8;
  border-radius: 5px;
  width: 50vh;
  height: 10vh;
  margin-bottom: 3vh;
}

.header {
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 5vh;
}

.choiceList {
  display: flex;
  height: 50vh;
}
.choiceListColumn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choiceListRow {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.choiceItemLarge {
  width: 80vw;
}

.choiceItemSmall {
  width: 35vw
}

.choiceItem {
  height: 24vw;
  border-radius: 5px;
  margin-top: 2vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choiceTitle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.choiceSubtitle {
  font-style: normal;
}

.choiceImage {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.isClicked {
  border: 1px solid #6264DB;
}

#nextBtn {
  background: #5D1AD5;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: Karla;
  padding: 6px 10px;
}

.inputList {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Karla;
  font-size: 35px;
  color: #EA378E;
  text-align: left;
  margin-top: 6vh;
  margin-bottom: 4vh;
}

.cardTitle {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: black;
  margin-bottom: 4vh;
}

.pinkBorder {
  border: 2px solid #EA378E;
}

.pinkBackground {
  background-color: #EA378E;
}

.greenBorder {
  border: 2px solid #0FCBA7;
}

.greenBackground {
  background-color: #0FCBA7;
}

.yellowBorder {
  border: 2px solid #FFC70E;
}

.yellowBackground {
  background-color: #FFC70E;
}

.redBorder {
  border: 2px solid #F8634B;
}

.redBackground {
  background-color: #F8634B;
}