.addOwner {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.backBtn {
    position: absolute;
    top: 3%;
    left: 5%;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

/* SVG */

.svg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    height: 30vh;
}

/* INPUT */

.inputs {
    display: flex;
    justify-content: center;
}

.label {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: start;
    font-weight: bold;
}

.input {
    width: 80vw;
    margin-bottom: 10%;
    margin-top: 3%;
    background-color: rgb(247, 247, 247);
    border: none;
    height: 35px;
    border-radius: 8px;
}

.input::placeholder {
    padding-left: 5%;
    color: rgb(191, 191, 191)
}

.saveBtn {
    border: none;
    border-radius: 8px;
    background-color: rgb(98, 100, 219);
    color: white;
    height: 40px;
    width: 60%;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}