.bigBlue {
	width: 74%;
	margin-left: 13%;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #6264DB;
	border: none;
	text-decoration: none;

	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;
	text-align: center;
	margin-top: 43px;
	color: #FFFFFF;
}

.smallGrey {
	margin-top: 14px;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	text-align: center;
	text-decoration-line: underline;
	border: none;
	background: none;

	color: #A0AFBF;
}