.onBoarding {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Karla', sans-serif;
}

.card {
    width: 100vw;
}

.image {
    height: 60vh;
    width: 100vw
}

img {
    width: 100%;
}

span {
    position: absolute;
    top: 5%;
    right: 5%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: rgb(98, 100, 219);
    max-width: 50%;
}

p {
    max-width: 80%;
}

.hidden {
    visibility: hidden;
    width: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}