.onBoarding {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.card {
    width: 100vw;

}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}