.onBoarding {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.card {
    width: 100vw;
}

.hidden {
    visibility: hidden;
    width: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}