
@media screen and (min-width: 576px) {
	.screen-too-big {
		display: flex;
	}
}
/*html {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	max-width: 576px;
}
*/
body {
  margin: 0;
  padding: 0;
  max-width: 576px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.screen-too-big {
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	background: black;
}

span {
	color: white;
}

/*##################### SIGNUP #########################*/





/*~~~~~~~~~~~~~~~~~~~~ AVATAR ~~~~~~~~~~~~~~~~~~~~~~~~*/

.choose-avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.choose-avatar img {
	max-width: 120px;
}

.avatar-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
}

.avatar-wrapper img {
	max-width: 120px;
	min-width: 100px;
}

/*####################### FILE UPLOAD ####################*/

.file-import-label {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}

.empty-box {
	border-radius: 60px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 120px;
	width: 120px;
}

.file-import-preview {
	max-width: 100%;
	min-height: 100%;
}

.file-import-logo {
	height: 120px;
	width: 120px;
	position: relative;
}

.file-import-logo-plus {
	position: relative;
	/*top: -32px;*/
	left: -36px;
}

.file-import-input {
	display: none;
}
