.wrapBackground {
  background-color: #E0E0F8;
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
  height: 23vh;
  position: absolute;
  top: 77vh;
  width: 100%;
}

.cross {
  position: absolute;
  right: 11vw;
  top: 2vh;
}

.wrapTextAndSkeleton {
  display: flex;
  position: absolute;
  top: 5vh;
  right: 15vw;
}

.addOnBubble {
  position: absolute;
  bottom: 3vh;
  right: 20vw;
}

.text {
  background-color: white;
  width: 50vw;
  min-height: 14vh;
  border-radius: 5px;
}

.skeleton {
  max-width: 20vw;
  margin-left: 5vw;
}
