.responsiveImage {
  width: 100%;
}

.Title {
  font-size: 30px;
  line-height: normal;
  text-align: center;
  color: #EA378E;
  margin-top: 51px;
  font-weight: bold;

}

.description {
  font-family: Karla;
  font-size: 20px;
  width: 80vw;
  margin: auto;
  margin-top : 42px;

}

.lineCapTuto {
  position: absolute;
  display: flex;
  left:0;
  right:0;
  margin:auto;
  z-index: -10;
  composes: responsiveImage;
}

.svgForm {
  position: relative;
  /*margin-top: 75vh;*/
  max-height: 40vh;

}

.svgList:first-child  {
  margin-top: -55vh !important;
}

.titleSVG {
  font-family: Odin Rounded;
  font-size: 30px;
  line-height: normal;
  text-align: center;
  font-weight: bold;
  max-width: 54vh;
}

.textSVG {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  margin-top : 42px;

}

.svgFile {
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    top: -10vh;
    composes: responsiveImage;

}

.path {
    background-image: url(/static/media/lineCapTuto.b818f5a6.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 2000;
    position: relative;
}

.svgFormRight {
  position: relative;
  margin-top: 60px;
  max-height: 40vh;
  width: 35vh;
  left: 5px;
  float: right;

}
