/*####################### FILE UPLOAD ####################*/

.fileImportLabel {
	height: 120px;
	width: 120px;
	border-radius: 60px;
	align-items: center;
}

.emptyBox {
	border-radius: 60px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 120px;
	width: 120px;
}

.fileImportPreview {
	/*min-width: 100%;*/
	/*max-height: 100%;*/
	object-fit: cover;
}

.fileImportLogo {
	height: 120px;
	width: 120px;
	position: relative;
}

.fileImportLogoPlus {
	position: relative;
	top: -32px;
	left: 42px;
}

.fileImportInput {
	display: none;
}

.uploadWrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}